
foldy-foldy-draw-draw/.idea/encodings.xml

foldy-foldy-draw-draw/.idea/foldy-foldy-draw-draw.iml

foldy-foldy-draw-draw/.idea/misc.xml

foldy-foldy-draw-draw/.idea/modules.xml

foldy-foldy-draw-draw/.idea/workspace.xml

foldy-foldy-draw-draw/.idea/xcode.xml
